<div class="text-center shared">
  <%= w000t.full_shortened_url(request.base_url) %>
</div>
<div class="effect">
  <table class="table">
    <thead>
      <tr>
        <td class="text-center" style="border-right: solid 1px">
          <a class="to_share">
            <div class="share">
              Share
            </div>
          </a>
        </td>
      </tr>
    </thead>
  </table>
</div>
