<div id="w000t-wall-container" class="grid">
  <% @w000ts.each do |w000t| %>
    <figure class="item col-lg-3 col-md-4 col-xs-6">
      <div class="text-center shared">
        <%= w000t.full_shortened_url(request.base_url) %>
      </div>
      <%= link_to( image_tag(w000t.url_info.cloud_image.thumb.url, class:"img-thumbnail img-responsive"), w000t_redirect_path(w000t.short_url) ) %>
    </figure>
  <% end %>
</div>

<%= paginate @w000ts %>
