<h1>Public w000ts</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th class="col-xs-8">Long url</th>
      <th class="col-xs-1">Clicks</th>
      <th class="col-xs-1">Status</th>
      <th class="col-xs-2"></th>
    </tr>
  </thead>

  <tbody>
    <% @w000ts.each do |w000t| %>
      <%= render partial: 'w000ts/w000t', locals: { w000t: w000t } %>
    <% end %>
  </tbody>
</table>

<%= paginate @w000ts %>

<br>

<%= link_to new_w000t_path, class: 'btn btn-default pull-right' do %>
  <i class="fa fa-plus-square"></i> New w000t
<% end %>
