<h1>My w000ts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Long url</th>
      <th>Short url</th>
      <th>Number of click</th>
      <th>User</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @w000ts.each do |w000t| %>
      <%= render partial: 'w000ts/w000t', locals: { w000t: w000t } %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New w000t', new_w000t_path %>
