<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="wat-container">
      <%= image_tag 'w000t.jpg', class: "img-circle w000t-wat" %>
    </div>

    <%= render 'form', w000t: @w000t %>
  </div>
  <div id="w000t" class="col-md-8 col-md-offset-2 well hide text-center">
  </div>
</div>
