<p id="notice"><%= notice %></p>

<p>
  <strong>Long url:</strong>
  <%= @w000t.url_info_url %>
</p>

<p>
  <strong>Short url:</strong>
  <%= @w000t.short_url %>
</p>

<%= link_to 'Back', w000ts_path %>
