/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require fontawesome/css/font-awesome
 *= require bootstrap-tokenfield/dist/css/bootstrap-tokenfield
 *= require bootstrap-tokenfield/dist/css/tokenfield-typeahead
 *= require_tree .
 *= require_self
 */

// Get the right asset path
@font-face {
    font-family: 'FontAwesome';
    src: asset-url('fontawesome/fonts/fontawesome-webfont.eot?v=4.2.0');
    src: asset-url('fontawesome/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),
    asset-url('fontawesome/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'),
    asset-url('fontawesome/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'),
    asset-url('fontawesome/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  padding-top: 70px;
}

$w000tNewBtnColor: #637F9B;
input.w000tNewBtn {
  background-color: $w000tNewBtnColor;
  border-color: $w000tNewBtnColor;
}

// Custom error colors
$error_color: #c0392b;
.panel-danger > .panel-heading {
  color: white;
  background-color: $error_color;
  border-color: $error_color;
}

.panel-danger > .panel-body {
  border-color: $error_color;
}

.has-error .form-control {
  border-color: $error_color;
}

// Custom navbar
$bgDefault      : #34495e;
$bgHighlight    : #2c3e50;
$colDefault     : #ecf0f1;
$colHighlight   : #ecf0f1;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  opacity: 0.9; /* opacity [0-1] */
  -moz-opacity: 0.9; /* opacity [0-1] */
  -webkit-opacity: 0.9; /* opacity [0-1] */
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}
