// Place all the styles related to the w000ts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item {
  width: 25%;
}

.w000t-wat {
  height: 150px;
  padding-bottom: 5px;
  display: block;
  margin: 0 auto;
}
