// Place all the styles related to the w000ts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item {
  width: 25%;
}

.w000t-wat {
  height: 150px;
  padding-bottom: 5px;
  display: block;
  margin: 0 auto;
}

/* General style for grid */
.grid-gallery ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.grid-gallery figure {
    margin: 0;
}

.grid-gallery figure img {
    display: block;
    width: 100%;
}

.grid-gallery figcaption h3 {
    margin: 0;
    padding: 0 0 0.5em;
}

.grid-gallery figcaption p {
    margin: 0;
}

/* Grid style */
.grid-wrap {
    max-width: 69em;
    margin: 0 auto;
    padding: 0 1em 1.875em;
}

.grid {
    margin: 0 auto;
}

.grid li {
    width: 25%;
    float: left;
    cursor: pointer;
}

.grid figure {
    padding: 15px;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.grid li:hover figure {
    opacity: 0.7;
}

.grid figcaption {
    background: #e4e4e4;
    padding: 25px;
}
