// Place all the styles related to the w000ts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td.w000t-long-url {
  border-bottom: none;
  padding-bottom: 0px;
}

td.w000t-tags {
  border-top: none;
  padding-top: 0px;
}

// 4 images for large screens
.item {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

// 2 images for small screens
@media only screen and ( max-width: 500px ) {
  .item {
    width: 50%;
  }
}

.w000t-wat {
  height: 150px;
  padding-bottom: 5px;
  display: block;
  margin: 0 auto;
}

.truncate {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.current {
  border: none;
  background: #CCCCCC !important;
  color: #f0f0f0 !important;
}

.pagination a {
  border: #333;
  color: #333 !important;
}

div.effect {
  position: absolute;
  bottom: -35px;
  min-height: 35px;
  width: 100%;
  visibility:hidden;
  opacity: 0;
  background-color: #34495e;
  transition:visibility 0s linear 0.2s,opacity 0.2s linear, bottom 0.2s ease-in-out;
}

.effect td, a {
  color: white;
  cursor: pointer;
}

.effect table {
  margin-bottom: 0;
}

.shared {
  position: absolute;
  top: 20px;
  line-height: 40px;
  vertical-align: middle;
  width: 100%;
  display:none;
  background-color: #46637f;
  color: white;
  opacity: 0.8;
}

figure:hover div.effect{
  bottom: 0px;
  visibility:visible;
  opacity: 0.9;
  transition-delay:0s;
}
